body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  outline: 0;
}
body {
  height: 100%;
  background-color: #000;
}
#root {
  display: flex;
  align-items: center;
  height: 100vh;
}
.tweet-settings {
  width: 25%;
  color: #fff;
  border-right: 1px solid #2f3336;
  height: 100%;
  padding: 25px;
  h3 {
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #2f3336;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  ul {
    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  label {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
    color: #6e767d;
  }
  .input {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #2f3336;
    color: #fff;
    padding: 8px 0 8px;
    font-size: 15px;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      border-color: #4e555a;
    }
  }
  button {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    background: #1da1f2;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .textarea {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #2f3336;
    color: #fff;
    padding: 10px 0 15px;
    font-size: 15px;
    line-height: 1.5;
    resize: none;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      border-color: #4e555a;
    }
  }
  .download-url {
    a {
      cursor: pointer;
      text-decoration: none;
      color: #000;
      font-size: 16px;
      background: rgb(214, 205, 29);
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
    }
  }
}
.tweet-container {
  padding: 0 50px;
  .fetch-info {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    input {
      flex: 1;
      background: #000;
      height: 40px;
      line-height: 40px;
      border-radius: 3px 0 0 3px;
      color: #fff;
      padding: 0 15px;
      font-size: 15px;
      border: 1px solid #2f3336;
      border-right: 0;
    }
    button {
      border: 1px solid #2f3336;

      height: 40px;
      padding: 0 20px;
      font-size: 15px;
      background-color: #000;
      color: #fff;
      border-radius: 0 3px 3px 0;
      cursor: pointer;
    }
  }
}
.tweet {
  border: 1px solid #2f3336;
  width: 600px;
  margin: 25px auto;
  padding: 0 16px;
  background-color: #000;
  &-author {
    height: 48px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 15px;
    img {
      width: 48px;
      height: 48px;
      margin-right: 12px;
      border-radius: 50%;
    }
    .name {
      color: #fff;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 19px;
      svg {
        margin-left: 5px;
      }
    }
    .username {
      color: #6e767d;
    }
  }
  &-content {
    padding: 12px 0;
    p {
      font-size: 23px;
      line-height: 28px;
      color: #fff;
      overflow: hidden;
      span {
        color: #1da1f2;
      }
    }
  }
  &-stats {
    height: 53px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #6e767d;
    border-top: 1px solid #2f3336;
    b {
      color: #fff;
    }
    span:not(:last-child) {
      margin-right: 20px;
    }
  }
  &-actions {
    height: 48px;
    display: flex;
    border-top: 1px solid #2f3336;
    color: #fff;
    align-items: center;
    justify-content: space-around;
  }
}
